---
layout: default
---
{% assign author = site.authors | where: 'name', page.author | first %}
{% if author %}
  <div>Author: <a href="{{ author.url }}">{{ author.display_name }}</a></div>
{% endif %}

{% if page.address %}
<div>Adresse: {{ page.address.street }}, {{ page.address.post-code }} {{ page.address.city }}</a></div>
{% endif %}

{% if page.location %}
<div>Geokoordinaten: {{ page.location.latitude }} - {{ page.location.longitude }}</a></div>
{% endif %}


<div class="content">{{ content }}</div>
