---
layout: default
---
{% assign author = site.authors | where: 'name', page.author | first %}
{% if author %}
  <div>Author: <a href="{{ author.url }}">{{ author.display_name }}</a></div>
{% endif %}

{% if page.categories %}
<div>Category: {{ page.categories }}</div>
{% endif %}

{% if page.address %}
<div>Adresse: {{ page.address.street }}, {{ page.address.post-code }} {{ page.address.city }}</a></div>
{% endif %}

{% if page.location %}
<div>Location: {{ page.location }}</div>
{% endif %}

{% if page.geolocation %}
<div>Geokoordinaten: {{ page.geolocation.latitude }} - {{ page.geolocation.longitude }}</div>
{% endif %}

{% google_map %}

<div class="content">{{ content }}</div>

<script>
console.log({{ page.location }});
</script>


{% capture longitude %}
"{{ page.location.coordinates[0] }}"
{% endcapture %}

{% capture latitude %}
"{{ page.location.coordinates[1] }}"
{% endcapture %}

{% include google-map.html latitude=latitude longitude=longitude zoom=5 %}
