---
layout: default
---
{% assign author = site.authors | where: 'name', page.author | first %}
{% if author %}
  <div>Author: <a href="{{ author.url }}">{{ author.display_name }}</a></div>
{% endif %}

{% if page.categories %}
<div>Category: {{ page.categories }}</div>
{% endif %}

{% if page.address %}
<div>Adresse: {{ page.address.street }}, {{ page.address.post-code }} {{ page.address.city }}</a></div>
{% endif %}

GEOLOCATION by map widget: {{ page.geolocation }}<br />
<br />

<div class="content">{{ content }}</div>

{% include google-map.html geolocation=page.geolocation zoom=5 %}
